.column {
  float: left;
  padding: 25px;
  height: 100vh;
   /* Should be removed. Only for demonstration */
}

.left {
  width: 24%;
  z-index: 1;
  height: 100vh;
  background-color: #111; 
}

.right {
  width: 76%;
  background-image: url("./adminbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.noright {
  width: 100%;
  background-image: url("./adminbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* margin-left: 200; */
  /* padding:  auto; */
}

.sidenav {
    /* height: 100%; Full-height: remove this if you want "auto" height */
    /* width: 230px; */
    width: 15%;
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    /* left: 0; */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The navigation menu links */
  .left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
.left p {
    margin-top: auto;
    text-decoration: none;
    font-size: 27px;
    text-align: center;
    color: #fff;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .left a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    width: 80%;
    height: 100%;

    background-image: url("./adminbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    /* position: fixed;  */


  }

.noleft{
  display: none;
}  

.manage{
  text-align: center;
  display: block;
  margin: auto;
  /* background-color: white; */
  /* display: none; */
}

.manage .options{
  margin: 17px;
  /* width: 250px; */
  /* display: none; */
}
  .row2:after {
    content: "";
    display: table;
    clear: both;
  
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }


  .add-course .label{ 
    font-size: 20;
  }

  .admin-dashboard{
    background-image: url("./adminbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100% ;
  }